
.dropdown-menu {
  width: 300px;
  height: auto;
  position: absolute;
  background-color: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .175);
  margin: 5px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-clip: padding-box;
}

.calendar-table {
  width: 300px;
  table-layout:fixed;
}

.select-month-area {
  display: flex;
}

.prev {
  padding: 0 5px 0 5px;
  width: 20px;
  margin: 5px;
}

.prev:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.month {
  flex: 1;
  text-align: center;
  margin: 5px;
}

.next {
  padding: 0 5px 0 5px;
  width: 20px;
  margin: 5px;
}

.next:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.day-of-weeks {
  margin-right: 2px;
  text-align: center;
}

.day {
  margin-right: 2px;
  text-align: center;
}

.day:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.time-select-btn {
  width: inherit;
  background-color: white;
  border: 0;
  padding: 5px 0 5px 0;
}

.time-select-btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.date-select-btn {
  width: inherit;
  background-color: white;
  border: 0;
  padding: 5px 0 5px 0;
}

.date-select-btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}